<!DOCTYPE html>
<html lang="en">
<head>
<style type="text/css">
	a {text-decoration: underline; color: #00c;}
	body .syntaxhighlighter .line {
		overflow: hidden !important; /* prevent extra scrolly on code body */
		white-space: pre-wrap !important; /*wrap*/
	}
</style>
<title></title>
<script type="text/javascript" src="/js/shCore.js"></script>
<script type="text/javascript" src="/js/shAutoloader.js"></script>
<script type="text/javascript" src="/js/jquery-1.6.4.min.js"></script>
<script type="text/javascript">
$(function(){
	// Line wrap back
	var shLineWrap = function(){
			$('.syntaxhighlighter').each(function(){
					// Fetch
					var $sh = $(this),
							$gutter = $sh.find('td.gutter'),
							$code = $sh.find('td.code')
					;
					// Cycle through lines
					$gutter.children('.line').each(function(i){
							// Fetch
							var $gutterLine = $(this),
									$codeLine = $code.find('.line:nth-child('+(i+1)+')')
							;
							// Fetch height
							var height = $codeLine.height()||0;
							if ( !height ) {
									height = 'auto';
							}
							else {
									height = height += 'px';
							}
							// Copy height over
							$gutterLine.height(height+' !important');
							console.debug($gutterLine.height(), height, $gutterLine.text(), $codeLine);
					});
			});
	};
	// Line wrap back when syntax highlighter has done it's stuff
	var shLineWrapWhenReady = function(){
			if ( $('.syntaxhighlighter').length === 0 ) {
					setTimeout(shLineWrapWhenReady,800);
			}
			else {
					shLineWrap();
			}
	};
	// Fire
	shLineWrapWhenReady();
});
</script>

<link rel="stylesheet" type="text/css" href="/css/shCore.css" />
<link rel="stylesheet" type="text/css" href="/css/shThemeEclipse.css" />
</head>

<body>
	<pre class="brush:<%=@filetype%>">
<%=@paste_text%>
	</pre>
	<script type="text/javascript">
		SyntaxHighlighter.autoloader(
			'applescript            /js/shBrushAppleScript.js',
			'actionscript3 as3      /js/shBrushAS3.js',
			'bash shell             /js/shBrushBash.js',
			'coldfusion cf          /js/shBrushColdFusion.js',
			'cpp c                  /js/shBrushCpp.js',
			'c# c-sharp csharp      /js/shBrushCSharp.js',
			'css                    /js/shBrushCss.js',
			'delphi pascal          /js/shBrushDelphi.js',
			'diff patch pas         /js/shBrushDiff.js',
			'erl erlang             /js/shBrushErlang.js',
			'groovy                 /js/shBrushGroovy.js',
			'java                   /js/shBrushJava.js',
			'jfx javafx             /js/shBrushJavaFX.js',
			'js jscript javascript  /js/shBrushJScript.js',
			'perl pl                /js/shBrushPerl.js',
			'php                    /js/shBrushPhp.js',
			'text plain             /js/shBrushPlain.js',
			'py python              /js/shBrushPython.js',
			'ruby rails ror rb      /js/shBrushRuby.js',
			'sass scss              /js/shBrushSass.js',
			'scala                  /js/shBrushScala.js',
			'sql                    /js/shBrushSql.js',
			'vb vbnet               /js/shBrushVb.js',
			'xml xhtml xslt html    /js/shBrushXml.js'
		);
		SyntaxHighlighter.all();
	</script>

	<h2><a href="<%=params[:name]%>?dl=1">Download this paste</a><h2>
	<h2>Fork this paste</h2>
	<%=pastebox%>
	<h2>Make a new paste</h2>
	<%=@paste_text = "";@filetype="";pastebox%>
</body>
</html>
